@import './components'
@import './login-logout'

body
  margin: 0

#app
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: #333

.container
  margin: 0 auto
  padding: 0 16px
  width: 1012px
  box-sizing: border-box
